.post {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: #EBF2F6 1px solid;
    word-break: break-word;
    hyphens: auto;

    .post-title {
        margin:0;
        a {
            text-decoration: none;
        }
    }

    .post-excerpt p {
        margin: 1.6rem 0 0 0;
        line-height: 1.6em;
    }

    .post-meta {
        display: inline-block;
        margin: 0 0 5px 0;
        font-size: 15px;
        color: #9EABB3;

        a {
            color: #9EABB3;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }   
    }
}